<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include layout/header.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include layout/navigation.ejs %> 
      <%- include layout/sidebar.ejs %> 
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Wonder Works Studio
            <small>Home</small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-home"></i> Home</a>
            </li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-lg-4 col-lg-4">
              
              <div class="nav-tabs-custom">
                
              <ul class="nav nav-tabs pull-right">
                <li class="pull-left header"><i class="fa fa-users"></i> Active Players: <%= total %></li>
              </ul>
              <div class="tab-content no-padding">
                <div
                  class="chart tab-pane active"
                  id="playercount"
                  style="position: relative; height: 300px;"></div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div> 
      <%- include layout/footer.ejs %> 
      <%- include layout/control-sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <%- include layout/js.ejs %>
  </body>
</html>

<script>
  new Morris.Donut({
    element: 'playercount',

    data: [
      { label: 'Overlook RP', value: <%= ob %> },
      { label: 'Meta Mall', value: <%= metamall %> },
      { label: 'TRAITOR!', value: <%= traitor %> },
      { label: 'TIMMEH!', value: <%= timmeh %> },
    ],
  });
</script>