<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include layout/header.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include layout/navigation.ejs %> 
      <%- include layout/sidebar.ejs %> 
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <%= username %>
            <small>Profile</small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-home"></i> Home</a>
            </li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- <div class="col-lg-3 col-xs-6">
              <div class="small-box bg-green">
                <div class="inner">
                  <h3><%= username %></h3>
                </div>
              </div>
            </div> -->
          </div>
        </section>
        <!-- /.content -->
      </div> 
      <%- include layout/footer.ejs %> 
      <%- include layout/control-sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <%- include layout/js.ejs %>
  </body>
</html>
